singularity.pullTimeout = '60m'
singularity.enabled = true
singularity.autoMounts = true

process {
    executor = 'slurm'
    queue = 'short'
    cpus = 4
    memory = '16 GB'
    time = '2h'
}

params {
    outdir       = "results"
    input        = "samplesheet.csv"
    genome_index = "$projectDir/genome/yeast"
    gtf          = "$projectDir/genome/yeast.gtf"
}
